.App {
  text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,600&family=Caveat:wght@500&family=Dancing+Script:wght@400;700&family=Edu+TAS+Beginner&family=Kalam&family=Lobster&family=Lumanosimo&family=Pacifico&family=Poppins:wght@300;400;500;600;700&family=Titillium+Web:ital,wght@1,200&family=Ysabeau+SC:wght@300;400;700&display=swap');


 .footer{
  background:#000;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;

  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }